<h1>Palindromes</h1>
<p>     Определить количество целых чисел ≤ n (n
        вводится с клавиатуры), квадрат которых является палиндромом. Например:
        26^2 = 676.
</p><br/>

<%= form_tag("/palindromes/view", :method => "get") do %> 

    <%= label_tag("Input n: ") %> 
    <%= text_field_tag(:n) %> <br/><br/>        <%#(:n, default_value)%>

    <%= submit_tag("Find palindromes", {:class => 'btn btn-primary'}) %>
<% end %>