<h1>Palindromes</h1>
<p>     Определить количество неотрицательных целых чисел ≤ n (n
        вводится с клавиатуры), квадрат которых является палиндромом. Например:
        26^2 = 676.
</p><br/>

<%= form_tag("/palindromes/view", :method => "get") do %> 

    <%= label_tag :n, "Input n: " %> 
    <%= text_field_tag :n, '', id: 'input_number', required: true %> <br/><br/>        <%#(:n, default_value)%>

    <%= button_tag "Find palindromes", type: 'submit', id: 'btn_commit', class: 'btn btn-primary' %>
<% end %>